<ion-view class="welcome" hide-nav-bar='true'>

    <ion-content>

        <div style="margin-top: 50px;text-align: center;">

            <img src="css/img/logo.svg" style="width:65%; margin:0 auto;display: block;"/>

            <h2 style="margin-top: 2px;">Receitas</h2>
            <h2>Promoções</h2>
            <h2>Revendas</h2>

            <div class="bottom">
                <a class="button button-stable" ui-sref="app.signup" style="max-width:84%;color:#73404C;padding-left:28px;padding-right:28px;">
                    Cadastre-se
                </a>
                <a class="button button-block button-clear" ui-sref="app.login">
                    Ja possui cadastro?&nbsp;&nbsp;Entrar&nbsp;<i class="icon-arrow-right"></i>
                </a>
            </div>

        </div>

    </ion-content>

</ion-view>